.catalog {
  display: grid;
  grid-template: 300px / repeat(4, 200px);
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  place-items: center;
  max-width: 944px;
  padding-bottom: 48px;
  margin: 0 auto;

  @include media(1024px, 3);
  @include media(768px, 2);
  @include media(488px, 1);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
